.gradient-custom {
    /* fallback for old browsers */
    /* background: #f093fb; */
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1)); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to bottom right,#00223E, #FFA17F) !important; */
    background-image: url("../../assets/wp10921927-outlet-wallpapers.jpg");
    background-position: center;
    background-size: cover;
    /* background: #745393; */
/* background: linear-gradient(135deg, #745393, #A23E88) !important ; */
    /* background: linear-gradient(to bottom right,#FFFFFF, #FFEFBA) !important */
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    /* From https://css.glass */

    }
    input{
        color: white !important;
        background-color: transparent !important;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .card-registration{
        color: white !important;
        font-weight: 800;
        background: rgba(0, 0, 0, 0.1)!important; 
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    }

   