@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

body {
  
  margin: 0;
  font-family: 'Outfit', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none ;
  color: black;
}

.btn{
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=745393&c2=a23e88&gt=l&gd=dtl
*/
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}